body{
    background-color: rgb(105, 101, 101);
    display: flex;
    justify-content: space-evenly;

}

.box{
    display: flex;
    border-radius: 2rem;
    margin: 4.5rem;
    background-color: white;
    height: 40rem ;
    width: 27rem ;
}

#left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 4rem;
    margin: 0;
}
p{
    margin-bottom: 13rem;
    font-size: 3rem;
}